:root{
    --theme-color: #0E81BE;
    --theme-bg-dark: #0E2031;
    --theme-sc-dark:  #154164;
}
body{
    overflow-x: hidden;
}

main{
    overflow-x: hidden;
}

.theme-color{
    color: var(--theme-color);
}
.theme-bg{
    background-color: var(--theme-color);
}

.color-white{
    color: white;
}
.theme-dark{
    color: var(--theme-bg-dark);
}

.theme-sm-dark-color{
    color: var(--theme-sc-dark);
}

.theme-bg-dark{
    background-color: var(--theme-bg-dark);
}

.justify-self-end{
    justify-self: end;
}

.btn-theme{
    background: var(--theme-color);
    color: white;
}

.btn-theme:hover, .btn-theme:active, .btn-theme:focus{
    background: #0d72a1;
    color: white;
}

.btn-outline-theme{
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}

.btn-outline-theme:focus, .btn-outline-theme:active, .btn-outline-theme:hover{
    background: var(--theme-color);
    color: white;
}

.color-off-white{
    color: #b6b6b6;
}

body {
    font-family: 'Poppins-Regular';
    font-size: 17px;
    color: #333333;
}

.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 620px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    /*****change according to web*****/
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*****change according to web*****/
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*****change according to web*****/
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*****change according to web*****/
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*****change according to web*****/
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*****change according to web*****/
    font-family: 'Poppins-SemiBoldItalic';
    src: url('../fonts/Poppins-SemiBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}


/*--------------/font-family/font-weight/font-style/font-size/--------------*/
.fontfamily-regular {
    font-family: 'Poppins-Regular';
}

/*****change according to web*****/
.fontfamily-thin {
    font-family: '';
}

.fontfamily-thinitalic {
    font-family: '';
}

.fontfamily-light {
    font-family: 'Poppins-Light';
}

.fontfamily-lightitalic {
    font-family: '';
}

.fontfamily-medium {
    font-family: 'Poppins-Medium';
}

.fontfamily-semibold {
    font-family: 'Poppins-SemiBold';
}

.fontfamily-semibolditalic {
    font-family: 'Poppins-SemiBoldItalic';
}

.fontfamily-bolditalic {
    font-family: '';
}

.fontfamily-bold {
    font-family: 'Poppins-Bold';
}

/*Custom Checkbox*/
.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
    width: 20px;

    margin: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #cecece;
    border-radius: 5px;
    border: 1px solid white;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #c4c4c4;
    border: 1px solid white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--theme-sc-dark);
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform:translate(-50%, -50%) rotate(45deg);
    -ms-transform:translate(-50%, -50%) rotate(45deg);
}

.font-paragraph{
    font-size: 1.5rem;
}


.checkmark-wrapper{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--theme-color);
    text-align: center;
    display: inline-block;
    place-items: center;
    position: relative;
}


.checkmark-wrapper i{
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold-text{
    font-weight: bold;
}


.grid-center{
    display: grid;
    place-items: center;
}


.d-grid{
    display: grid;
}

/*Landing Page*/
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus{
    outline: none;
}

h1, h2{
    font-weight: bold;
}

.image-container{
    width: 300px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
}

.landing-header{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 1;
}

.landing-header .image-container{
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.landing-header .btn-container{
    justify-self: end;
    align-self: center;
}

.landing .top-section{
    height: 890px;
    background: url("../images/topbg.png") no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 768px){
    .landing .top-section{
        height: 700px;
    }
}

.landing .top-section .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E2031;
    opacity: 0.5;
}
.landing .top-section-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .top-section-text h1{
    font-weight: bold;
    color: white;
    font-size: 3.5rem;
}

.landing .top-wave{
    position: absolute;
    background: url("../images/topWave.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    width: 100%;
    height: 150px;
    top: -1px;
    left: 0;
}

.landing  .bottom-wave{
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    background: url("../images/downWave.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}



.landing .about{
    position: relative;
}


.about .container{
    z-index: 4;
}

.about h4{
    font-weight: bold;
}

.content-img-box{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
}
.content-img-box .content-img{
    justify-self: center;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: rgba(12, 129, 190, 0.06);
    overflow: hidden;
    height: 70px;
    width: 70px;
}

.content-img-box .content-img img{
    width: 60%;
    object-fit: cover;
}


.content-img-box .arrow{
    height: 1px;
    width: 90%;
    position: relative;
    border: 1px dotted #D0E7F3;
}

.content-img-box .content-text{
    grid-row: 2;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-self: center;
}

.content-img-box .content-text p{
    word-break: break-word;
}

.content-img-box .ct-1{
    grid-column: 1/ 4;
}

.content-img-box .ct-2{
    grid-column: 4/ 7;
}

.content-img-box .ct-3{
    grid-column: 7/ 10;
}

.content-img-box .ct-4{
    grid-column: 10/ 13;
}

.content-img-box .arrow-child{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    right: -5px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #D0E7F3;
}

.content-img-box .box-start{
    grid-column: 2;
}

.content-img-box .a-1{
    grid-column: 3/ 5;
}

.content-img-box .a-2{
    grid-column: 6/ 8;
}

.content-img-box .a-3{
    grid-column: 9/ 11;
}

.content-box .box-item{
    align-self: center;
}

.landing .invitation{
    background: url("../images/invitation.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    position: relative;

}

.landing .invitation .inv-inner{
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.inv-box{
    background: var(--theme-bg-dark);
    box-sizing: border-box;
    padding: 40px;
    color: white;
}


.landing .inv-box{
    width: 350px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.landing .inv-box p {
    font-size: 1.15rem;
    padding: 20px 0;
}

.landing .review {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-template-rows: min-content;
}

.landing .review-image{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 15px;
   margin-top: 25px;
   grid-row: 1/3;
    grid-template-rows: min-content;
}

.landing .review-image .image-container{
    width: 100%;
}

.landing .review-image .image-container .img-container{
    overflow: hidden;
    height: 350px;
}

.landing .review-image .i-1{
    margin-top: 20px;
    overflow: visible;
}

.landing .review-image .i-3{
    margin-top: 20px;
    overflow: visible;
}

.review .header{
    grid-column: 2;
    grid-row: 1;
}

.review .review-text{
    grid-column: 2;
    grid-row: 2;
}

.landing .footer-container .container-grid-1{
    grid-column: 1/3;
    box-sizing: border-box;
    padding-right: 15%;
}

.landing .footer-container{
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0;
    grid-gap: 10px;
}

.landing .footer-container p{
    font-size: 13px;
}

.landing .footer-container .circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--theme-color);
    position: relative;
}

.landing .footer-container .circle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-grid-1 .img-container{
    width: 90%;
    overflow: hidden;
}

.container-grid-1 .img-container img{
    width: 100%;
}

.container-grid-4{
    grid-column: 1/6;
    justify-self: center;
}

@media screen and (max-width: 992px){
    .landing .footer-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .landing .footer-container .container-grid-1{
        grid-row: 1/3;
        grid-column: 1/4;
    }
    .footer-container .container-grid-2{
        grid-column: 4/6;
        grid-row: 1;
        justify-self: start;
    }
    .footer-container .container-grid-3{
        grid-column: 4/6;
        grid-row: 2;
        justify-self: start;
    }
}

@media screen and (max-width: 768px){
    .landing-header{
        grid-template-columns: repeat(2, 1fr);
    }
    .landing-header .image-container{
        grid-column: 1;
        justify-self: start;
    }
    .image-container{
        width: 200px;
    }
    .landing .review .review-image .image-container .img-container{
        overflow: hidden;
        height: 215px;
    }

    .landing .footer-container{
        grid-template-columns: 1fr;
    }

    .landing .footer-container .container-grid-1{
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        padding-right: 0;
        text-align: center;
    }

    .landing .footer-container .container-grid-1 .img-container{
        margin: auto;
    }

    .footer-container .container-grid-2{
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        text-align: center;
    }
    .footer-container .container-grid-3{
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        text-align: center;
    }

    .footer-container .container-grid-3 .s-icons{
        justify-content: center;
    }
    .container-grid-4{
        grid-column: 1;
        text-align: center;
    }
}

@media screen and (max-width: 530px){

    /*.mob-nav{*/
    /*    position: fixed;*/
    /*    height: 100vh;*/
    /*    width: 50%;*/
    /*    background-color: white;*/
    /*    top: -100%;*/
    /*    right: 0;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/

    /*.mob-nav .btn{*/
    /*    color: black;*/
    /*}*/

    .landing .top-section .bottom-wave{
        height: 85px;
        bottom: -1px;
    }
    .content-img-box{
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

    }
    .content-img-box .arrow{
        width: 1px;
        height: 100px;
        border: 1px dotted black;
        justify-self: center;
    }

   .content-img-box .arrow .arrow-child{
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 99%;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--theme-bg-dark);
    }

    .content-img-box .content-img, .content-img-box .arrow, .content-img-box .a-1, .content-img-box .a-2, .content-img-box .a-3, .content-img-box .a-4{
        grid-column: 1;
    }
    .content-img-box .content-text{
        grid-column: 2;
    }

    .content-img-box .a-1{
        grid-row: 2;
    }

    .content-img-box .ct-1{
        grid-row: 1;
    }
    .content-img-box .ct-2{
        grid-row: 3;
    }
    .content-img-box .ct-3{
        grid-row: 5;
    }
    .content-img-box .ct-4{
        grid-row: 7;
    }

    .landing .invitation .inv-inner{
        display: grid;
        place-items: center;
        bottom: 10%;
    }

    .landing .inv-box {
        width: 280px;
        padding: 25px 15px;
        text-align: center;
    }

    .landing .review .review-image{
        grid-row: 2;
        grid-column: 1;
    }

    .landing .review .header{
        grid-row: 1;
        grid-column: 1;
    }

    .landing .review .review-text{
        grid-row: 3;
        grid-column: 1;
    }

}

@media screen and (max-width: 425px){
    .landing .top-section h1{
        font-size: 2rem;
    }
    .landing-header .image-container{
        width: 150px;
    }
    .landing-header .btn-container .btn{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 375px){
    .image-container{
        width: 110px;
    }
    .landing-header .btn-container .btn{
        font-size: 0.6rem;
    }
}


/* Login Page */

.login{
    height: 100vh;
    width: 100%;
    background: var(--theme-bg-dark);
    display: grid;
    place-items: center;
    position: relative;

}

.lines{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

}

.lines .line-image{
    position: absolute;
    width: 100%;
    bottom: -15%;
    right: -35%;
    z-index: 1;
    pointer-events: none;

}

.lines .line-image .lines img{
    width: 100%;
    overflow: hidden;
    pointer-events: none;

}

.login-box{
    max-width: 625px;
    width: 95%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.login-box .img-container{
    width: 55%;
    overflow: hidden;
    margin: auto;
}

.img-container img{
    width: 100%;
}

.login .input-box{
    width: 100%;
}

.login .input-box .input-field{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ADB3B9;
    position: relative;
}

.login .input-box .input-field input{
    flex: 1;
    background: none;
    outline: none;
    border: none;
    color: white;
}

.login .input-box .input-field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    transition: all 0.3s;
    pointer-events: none;
}

.login .input-box .input-field input:focus + label, .login .input-box .input-field input:valid + label{
    top: -50%;
    font-size: 80%;
}



.input-box .input-field input:focus-within{
   border-bottom: 1px solid #36CE9F;
}

.other-inp-box{
    font-size: 14px;
    align-items: center;
}

/*Dashboard*/
.flex-1{
    flex: 1;
}

.left-panel {
    background: var(--theme-bg-dark);
    height: 100vh;
    padding: 10px 0;
    vertical-align: top;
    flex: 1;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0 ,0 ,0.08);
    box-shadow: 1px 0 20px rgba(0 ,0 ,0, 0.08);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    transition: all 0.5s;
}

.nav-off.left-panel .head{
    flex-direction: column;
    align-items: center;
}

.left-panel nav{
    height: 100vh;
    margin: 30px 0;
    font-size: 1.2rem;
}
.left-panel nav ul li{
    text-align: right;
}
.left-panel nav ul li a{
    color: #333333;

}


.w-85{
    width: 90%;
}

.circle-button{
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
}
.nav-text{
    visibility: visible;
    transition: visibility 0.5s;
    color: #333;
    font-size: 1rem;
}
.circle-button i{
    font-size: 1.3rem;
}

.nav-off .nav-text{
    display: none;
    visibility: hidden;
}


.left-panel h3{
    font-size: 3rem;
}

.right-panel{
    height: 100vh;
    margin-left: 17%;
    transition: all 0.5s;
    overflow-x: hidden;
}

.list-style-none{
    list-style-type: none;
}

.hidden-expand-button{
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 10000;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid transparent;
    color: white;
    background-color: var(--theme-bg-dark);
}
.hidden-expand-button:hover, .hidden-expand-button:active{
    color: white;
    background-color: #1B0E82;
}

.panel-container{
    width: 95%;
    margin: auto;
}

.dashboard-bg{
    background: #FAFCFF;
}

.bg-white{
    background: white;
}

.table-container{
    overflow-x: auto;
}



.grid-auto-row-minmax{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

.grid-row-400px{
    grid-template-rows: 1fr;
}

.about-page .inv-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-page .inv-box h2, .about-page .inv-box p{
    margin-bottom: 10%;
}


.quotes-grid{
    display: grid;
    grid-template-columns: 15% 80%;
    grid-column-gap: 15px;
}

.quotes-grid .img-container{
    grid-row: 1;
    grid-column: 1;
}

.quotes-grid h3{
    grid-row: 1;
    grid-column: 2;
}

.quotes-grid p{
    grid-row: 2;
    grid-column: 2;
}

.h-100vh{
    height: 100vh;
}

@media screen and (max-width: 1024px){
    .about-page .inv-box > h2{
        font-size: 1.3rem;
    }
    .about-page .inv-box > p{
        font-size: 0.9rem;
    }
    .about-page .inv-box h2, .about-page .inv-box p{
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 868px){
    .left-panel{
        width: 50%;
        left: -60%;
    }
    .left-panel .head{
        flex-direction: column;
        align-items: center;
    }
    .right-panel{
        margin: 0;
    }
    .nav-off{
        left: 0;
    }
    .nav-off.left-panel{
        width: 50%;
    }
    .nav-off.right-panel{
        margin: 0;
    }
    .nav-off .nav-text{
        display: block;
        visibility: visible;
    }
    .nav-off nav ul{
        align-items: flex-start;
    }
    .hidden-expand-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.grid-row-gap-40{
    grid-row-gap: 40px;
}



.input-box{
    width: 100%;
}



.password-input{
    position: relative;
}

.password-visible{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: transparent;
    border: none;
    font-size: 1rem;
}

.rec-reg .input-box .reg-form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ADB3B9;
    position: relative;
}

.rec-reg .input-box .reg-form-input .password-visible{
    top: 75%;
}


.rec-reg .input-box .reg-form-input input, select{
    flex: 1;
    background: none;
    outline: none;
    border: none;
    color: black;
}


.input-box .input-field input:focus-within{
    border-bottom: 0.5px solid #36CE9F;

}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.form-box{
    max-width: 675px;
    width: 95%;
    min-width: 315px;
}

.w-15{
    width: 15%;
}

.button-top-grid{
    grid-template-columns: 20% 60% 20%;
}

.close-btn{
    font-size: 1.5rem;
}

.splide__pagination__page.is-active{
    background: #797878 !important;
}


@media screen and (min-width: 576px) {
    .jumbotron {
        padding: 2.5rem 2rem;
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

@media screen and (max-width: 768px){
    .gr-md-2{
     grid-row: 2;
    }
}

@media screen and (max-width: 425px){
    .nav-off.left-panel{
        width: 65%;
    }
}